name: Release

on:
  push:
    tags:
      - "v*" # Triggers when a tag starting with 'v' is pushed

jobs:
  build:
    uses: ./.github/workflows/build-core.yaml

  release:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          path: artifacts
          merge-multiple: true

      - name: Create GitHub Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            artifacts/app-release-linux.tar.xz
            artifacts/app-release-macos.zip
            artifacts/app-release.aab
            artifacts/app-release.apk
            artifacts/app-release.exe
            artifacts/app-release.ipa

        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
